mixin comments(comments)
    div.comment
        each comment in comments
            if (comment == "\n")
                br
            else if (comment == " ")
                != '&nbsp;'
            else    
                =comment
