// Config
@use "./config/_variable.scss" as *;
@use "./config/_reset.scss" as *;

// Components
@use "./components/header.scss" as *;
@use "./components/footer.scss" as *;
@use "./components/video.scss" as *;
@use "./components/shared.scss" as *;
@use "./components/forms.scss" as *;
@use "./components/social-login.scss" as *;
@use "./components/video-player.scss" as *;


// Screens
@use "./screens/search.scss" as *;
@use "./screens/profile.scss" as *;
@use "./screens/edit-profile.scss" as *;
@use "./screens/watch.scss" as *;
@use "./screens/upload.scss" as *;


// Defaults
a {
    color: inherit;
    text-decoration: none;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: $bg;
    color:white;
}

main {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    margin-top: 50px;
}

@keyframes goAway {
    from {
        transform: none;
        opacity: 1;
    }
    to {
        transform: translateY(-50px);
        opacity: 0;
    }
}

.message {
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    margin: 0 auto;
    max-width: 200px;
    padding: 10px 20px;
    border-radius:  10000px;
    text-align: center;
    animation: goAway .5s ease-in-out forwards;
    animation-delay: 5s;
    &.error {
        background-color: tomato;
        color: white;
    }
    &.info {
        background-color: tomato;
        color: white;
    }
    &.success {
        background-color: tomato;
        color: white;
    }
}