extends ../base.pug
include ../mixins/video.pug

block content 
    div.profile__data
        if user.avatarUrl
            img(src="/" + user.avatarUrl).avatar
            span 1Has a conversation. Original line has a conversation.
            h3=user.name
        else
            span.avatar-placeholder No Avatar
    div.video-grid
        each video in user.videos
            +video(video)
        else
            span.empty__message No videos found